---
export type Props = {
  href: string
}

const { href } = Astro.props
---

<a
  class="text-white underline decoration-gray-600 underline-offset-2 transition-colors duration-150 hover:decoration-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-800"
  href={href}
  rel="noreferrer"
  target="_blank"
>
  <slot />
</a>
